.styled-button {
    margin: 10px 0;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f0f0f0; /* Колір фону кнопки */
    color: #333; /* Колір тексту кнопки */
    text-decoration: none; /* Видалити підкреслення посилання */
    display: inline-block; /* Робить кнопку блоком для коректного відображення padding і margin */
    cursor: pointer; /* Змінює курсор при наведенні на кнопку */
}

.styled-button:hover {
    background-color: #e0e0e0; /* Змінює колір фону при наведенні */
}

.button-link {
    text-decoration: none; /* Видалити підкреслення посилання */
    color: inherit; /* Застосовує колір тексту, який вже встановлений */
}
    body {
        font-family: Arial, sans-serif;
        background-color: #f0f0f0;
        text-align: center;
        padding: 50px;
    }
    .thank-you {
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        max-width: 600px;
        margin: 0 auto;
    }
    h1 {
        color: #333;
    }
    p {
        font-size: 18px;
        color: #666;
    }